/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 102px;
  background:
    repeating-linear-gradient(to right, #d3d3d3, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0%, #1a1a1a 100%);
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 100px 2px 25px;
  row-gap: 20px;
  border: 2px solid #000;
}

.header__title {
  color: #000;
  font-family: var(--font__elements);
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__title-text {
  color: #000;
  font-family: var(--font__elements);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-block-end: 5px;
}

.theme-menu__button {
  color: #000;
  font-family: var(--font__elements);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: none;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 102px;
}

.section {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.cards {
  border: 2px solid #000;
}

.cards__title {
  color: #000;
  font-family: var(--font__text);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 8px 10px 8px;
}

.filter__first-card {
  
}

.cards__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-start: 25px;
}

.cards__content-text {
  color: #000;
  font-family: var(--font__text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0 25px;
}

.cards__button {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  background: none;
  border: none;
}

.card__like-button {
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #FFF);
}

.button__text {
  color: #000;
  font-family: var(--font__elements);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}