/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --gradien-color: var(--light__gradient-color, #d3d3d3);
  --background-color: var(--light__background-color);
  --border__text-color: var(--light__border-text-color, #000);
  --heart__sparks-color: var(--heart__sparks);
  --heart__contour-color: var(--light__heart-contour);
  --different__text-color: var(--light__different-color);
  --heart__main-color: var(--light__heart-color);
}

:root.theme-dark {
  --gradien-color: var(--dark__gradient-color, );
  --background-color: var(--dark__background-color);
  --border__text-color: var(--dark__border-text-color, #00CC14);
  --heart__sparks-color: var(--heart__sparks);
  --heart__contour-color: var(--dark__heart-contour);
  --different__text-color: var(--dark__border-text-color, #00CC14);
  --heart__hover-color: var(--dark__heart-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --gradien-color: var(--light__gradient-color, #000);
    --background-color: var(--light__background-color);
    --border__text-color: var(--light__border-text-color, #000);
    --heart__sparks-color: var(--heart__sparks);
    --heart__contour-color: var(--light__heart-contour);
    --different__text-color: var(--light__different-color);
    --heart__hover-color: var(--light__heart-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradien-color: var(--light__gradient-color);
    --background-color: var(--light__background-color);
    --border__text-color: var(--light__border-text-color, #000);
    --heart__sparks-color: var(--heart__sparks);
    --heart__contour-color: var(--dark__heart-contour);
    --different__text-color: var(--dark__border-text-color, #00CC14);
    --heart__main-color: var(--dark__heart-color);
  }
}