/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font__elements: 'PressStart2P-Regular', fantasy;
  --font__text: 'Inter-Variable', sans-serif;
  --font__weight-cards-text: 400;
  --font__weight-cards-title: 700;
  --heart__sparks: red;
  /* Светлая тема */
  --light__gradient-color:
      repeating-linear-gradient(to right, #d3d3d3, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px, transparent 4px),
      linear-gradient(#E7E7E7 0.01%, #1a1a1a 100%);
  --light__background-color: #FFF;
  --light__border-text-color: #000;
  --light__heart-contour: #000;
  --light__different-color: #FFF;
  --light__heart-color: #000;
  /* Темная тема */
  --dark__gradient-color:
      repeating-linear-gradient(to right, #000, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, #000, transparent 2px, transparent 4px),
      linear-gradient(#007F0C 0.01%, #004306 100%);
  --dark__background-color: #000;
  --dark__border-text-color: #00CC14;
  --dark__heart-contour: #00CC14;
  --dark__heart-color: #00CC14;
  
}
